/BGMaxFiles/
/FF9SECustomers/
/Notes
/Grouping/csv_data.db
/Grouping/sorted_data.xlsx
/Grouping/instance/your_database.db
/Matching/processing.log
/Whitelist/output.csv
/Whitelist/outputw.csv
/Whitelist/whitelist.csv
